*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4fb190;
    max-width: 100vw;
    min-height: 100vh;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
figure{
    display: flex;
    margin-top: 10px;
}
.logo{
    width: 100px;
    height: 100px;
    border: 2px solid #d8e620;
    background-color:chocolate;
    border-radius: 20px;
    object-fit: cover;
}   
h1{
    justify-content: center;
    color: chocolate;
    font-size: 40px;
    justify-content: center;
}
.viñeta{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
}
.home,.about,.contact,.rules,.game{
    color: yellow;
    border: 2.5px solid yellow;
    background: chocolate;
    text-decoration: none;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    height: 15px;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
a:hover:not(:active){
    background-color: #756f6f;
}
.active{
    background-color: #70ad47;
}

.banner{
    background-image: url("../design1_image2.jpg");
    background-size: contain;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.h2cont{
    color: chocolate;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.contenido,.contenido2,.contenido3{
    width: 800px;
    color: yellow;
    border: 2.5px solid yellow;
    background: chocolate;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cont,.cont2{
    padding: 7px;
    margin-top: 5px;
}
.pcont,.pcont2,.pcont3{
    color: rgb(10, 216, 10);
    padding-bottom: 10px;
}
.contenido2>p{
    width: 700px;
}

.pcont3{
    margin-top: 10px;
}

.srules{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo{
    font-size: 28px;
}
.subtitulo{
    font-size: 26px;
}

.intro,.reglamento{
    margin-top: 40px;
}
.pintro{
    margin-top: 20px;
    text-indent: 50px;
}

.rlist{
    margin-top: 20px;
    list-style-position: inside;
    font-weight: bold;
}
.lnumeros{
    padding: 10px; 
}
span{
    font-weight: 100;
}
.diferente{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.letras{
    list-style-type: lower-alpha;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    
}

.juego{
    margin-top: 20px;
    list-style-position: inside;
}
.pjuego{
    margin-top: 20px;
    text-indent: 50px;
}
.circulo{
    list-style-type: circle;
    list-style-position: inside;
    
}
.cir1{
    margin-left: 65px;
}

.sgame{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;    
}

.titulo2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.intro2{
    width: 950px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 24px;
        
}
.pintro2,.pintro3{
    margin-top: 10px;
}
.pintro3{
    font-size: 20px;
    text-decoration: underline;
}

.tab{
    margin-top: 60px;
}
table{
    width: 950px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    column-width: 237.5px;
    
    
}

th,td{
    
    height: 30px;
}

th{
    text-align: left;
}

.fecha{
    text-align: center;
    right: 2%;
}
.mes{
    text-align: center;
}
.adic1{
    width: 950px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.negrita{
    font-weight: bold;
}
.padic1,.padic2{
    margin-top: 20px;
}
.padic3{
    margin-top: 50px;
}

.adic2{
    width: 950px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.pad1,.pad2{
    margin-top: 20px;
}

footer{
    background-color: chocolate;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50px;
    margin-top: 20px;
}